<h1>Agregar Empresa</h1>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="name" >Nombre</label>
        <input 
         type="text"
         class="form-control" 
         id="name" 
         required [(ngModel)]="companie.name" name="name" />
      </div>
      <div class="form-group ">
        <label for="logo">Logo</label>
        <input class="form-control" id="logo" required [(ngModel)]="" name="pcompra" />
      </div>
      <div class="form-group">
        <label for="pventa">Link</label>
        <input class="form-control" id="pventa" required [(ngModel)]="" name="pventa" />
      </div>
      <div class="form-group">
        <label for="stock">Stock</label>
        <input class="form-control" id="stock" required [(ngModel)]="" name="stock" />
      </div>
      <div class="form-group ">
        <label for="detalle">Detalle</label>
        <input class="form-control" id="detalle" required [(ngModel)]="" name="detalle" />
      </div>
      <button (click)="saveCompanies()" class="btn btn-success">Enviar</button>
    </div>
    <div *ngIf="submitted">
      <h4>¡El producto se envió con éxito!</h4>
      <button class="btn btn-success" (click)="newCompanies()">Agregar</button>
    </div>
  </div>