<br><br><br>
		<div class="container">
			<div class="row">
				<div class="col-mg-5">
					<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" routerLink="/agregar-companie">
						Crear nueva empresa
					</button>
				</div>
			</div>
				<br><br><br>
	<div class="row centrar">
		<table class="table table-bordered border-primary"  >
			<caption>
				Datos de BD
			</caption>
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Nombre</th>
					<th scope="col">Logo</th>
					<th scope="col">Type</th>
					<th scope="col">Link</th>
					<th scope="col">Editar</th>
					<th scope="col">Estatus</th>
				</tr>
			</thead>
			<tbody class="table-group-divider">
				<tr *ngFor="let companies of listCompanies">
					<td>{{ companies.name }}</td>
					<td>{{ companies.logo }}</td>
					<td>{{ companies.link }}</td>
					<td>{{ companies.type }}</td>
					<td>
							<i [routerLink]="['/editar-companie', companies._id]" class="fas fa-edit text-primary"></i>
								<i (click)="eliminarCompanie(companies._id)" class="fas fa-trash text-danger"></i>
					</td>
				</tr>

			</tbody>
		</table>
	</div>
</div>