
<div class="grid-container container__dashboard">
	<div class="item2">
			<div class="navigation">
					<ul>
							<li class="navigation__tex__menu">
									<a href="#">
											<span class="icon">
											
											</span>
											<span class="title"><img src="assets/imagenes/Logo Yavirac.png" alt="" style="height: 50px;"></span>
									</a>
							</li>
							<li class="navigation__tex__menu">
									<a href="#">
											<span class="icon">
												
											</span>
											<span class="title">Home</span>
									</a>
							</li>
							<li class="navigation__tex__menu">
									<a href="#">
											<span class="icon">
										
											</span>
											<span class="title">Noticias</span>
									</a>
							</li>
							<li class="navigation__tex__menu">
									<!-- <a href="/dashboard/cliente-vehiculo/{{datos.id_session}}/{{datos.usuario_nombre}}">
											
									</a> -->
						
											<a href="">
												<span class="icon">
											</span>

											<span class="title">Menus</span>
											</a>
								
							</li>
							<li class="navigation__tex__menu">
									<!-- <a href="/dashboard/empleado/{{datos.id_session}}/{{datos.usuario_nombre}}">
											<span class="icon">
													<ion-icon name="storefront-outline"></ion-icon>
											</span>
											<span class="title">Panel de mecánicos</span>
									</a> -->
									<a href="#">
										<span class="icon">
									
										</span>
										<span class="title">Institución</span>
								</a>
							</li>
							<li class="navigation__tex__menu">
									<!-- <a href="/dashboard/perfil-usuario/{{datos.id_session}}/{{datos.usuario_nombre}}">
											<span class="icon">
													<ion-icon name="settings-outline"></ion-icon>
											</span>
											<span class="title">Configuración</span>
									</a> -->
									<a href="#">
										<span class="icon">
									
										</span>
										<span class="title">Carreras</span>
								</a>
							</li>
							<li class="navigation__tex__menu">
									<!-- <a href="/logout/{{datos.id_session}}">
											<span class="icon">
													<ion-icon name="log-out-outline"></ion-icon>
											</span>
											<span class="title">Cerrar Sesión</span>
									</a> -->
									<a href="#">
										<span class="icon">
									
										</span>
										<span class="title">Galeria</span>
								</a>
							</li>
							<li class="navigation__tex__menu">
								<a href="#">
										<span class="icon">
												<!-- <ion-icon name="log-out-outline"></ion-icon> -->
										</span>
										<span class="title">Cerrar Sesión</span>
								</a>
							
						</li>
					</ul>
			</div>
	</div>
	<div class="main">
			<div class="topbar">
					<!-- <div class="toggle">
							<ion-icon name="menu-outline"></ion-icon>
					</div> -->
					<div class="item1">
							<h2 id="nombre__usuario">Bienvenidos..
									<span class="nombre__sos"> </span>
									<!--   <a href="#" class="marcado__off"><span class="nombre__sos">Completa tu registro!</span></a> -->
							</h2>
					</div>
			</div>



	</div>

</div>