@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Windows", sans-serif;
}

:root {
  --blue: #2c9eb5;
  --white: #fff;
  --grey: #f5f5f5;
  --black1: #222;
  --black2: #999;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

.container__dashboard {
  position: fixed;
  width: 100%;
  display: block;
}

.navigation {
  position: fixed;
  width: 300px;
  height: 100%;
  background: var(--blue);
  border-left: 10px solid var(--blue);
  transition: 0.5s;
  overflow: hidden;
  z-index: 1;
}

.navigation.active {
  width: 75px;
}

.navigation ul {

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.navigation ul li:hover,
.navigation ul li.hovered {
  background: var(--white);
}

.navigation ul li:nth-child(1) {
  margin-bottom: 10px;
  pointer-events: none;
}

.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: var(--white);
}

.navigation ul li:hover a,
.navigation ul li.hovered a {
  color: var(--blue);
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 70px;
  text-align: center;
}

.navigation ul li a .icon ion-icon {
  font-size: 1.75em;
}

.navigation ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}



/*curve outside */

.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
  content: "";
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px var(--white);
  pointer-events: none;
}

.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px var(--white);
  pointer-events: none;
}

/*---------main-------*/

.main {
  position: relative;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background: transparent;
  transition: 0.5s;
  overflow-y: auto; 
}

.main.active {
  width: calc(100% - 300px);
  left: 80px;
  overflow-y: auto; 
}

.topbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  cursor: pointer;
}

.search {
  position: relative;
  width: 400px;
  margin: 0 10px;
}

.search label {
  position: relative;
  width: 100%;
}

.search label input {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  padding: 5px 20px;
  outline: none;
  padding-left: 35px;
  font-size: 15px;
  border: 1px solid var(--black2);
}

.search label ion-icon {
  position: absolute;
  top: 0;
  left: 10px;
  font-size: 1.2em;
}

.user {
  position: relative;
  min-width: 50px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.user img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user ion-icon {
  position: absolute;
  top: 10px;
  left: 20px;
  font-size: 1.2em;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-menu a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-menu a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

/* cuerpo dashboard  */
.cuerpo-info {
  padding: 10px 50px 50px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 80%;
  background-color: #ffffff;
  overflow-x: hidden;
  overflow-y: auto;
}

/* dashboard home  */

.cuerpo {
  position: fixed;
  display: block;
  align-content: center;
  padding: 15px 0 10px 20px;

  overflow-x: hidden;
  overflow-y: auto;
  /* Hace que se ajuste a la columna más alta en ff */
  height: 45%;
  /* Hace que se ajuste a la columna más alta  en ie6 */
}

/* .columna_derecha {
  float: right; /* Alineación a la derecha */
/* width: 200px;
  border: solid rgba(200, 217, 223, 0.367) 1px;
  padding: 5px;
} */
.columna_izquierda {
  justify-content: center;
  /* Alineación a la izquierda */
  width: 450px;
  border: solid rgba(200, 217, 223, 0.367) 1px;
  padding: 5px;
  height: 400px;
  display: flex;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 30%;
  position: fixed;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container_card {
  padding: 10px 20px;
  padding-bottom: 50px;
}


/* button */
.button__card {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;

  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  display: block;
  margin: auto;

}

.button1 {
  background-color: #4CAF50;
}

/* Green */
.button2 {
  background-color: #008CBA;
}

/* Blue */


.img__card {
  display: block;
  margin: auto;
}

/* -------------------------------------------------------------------------------------------- */
.columna_derecha-usuario {
  float: right;
  /* Alineación a la derecha */
  width: 310px;
  border: solid rgba(200, 217, 223, 0.367) 1px;
  padding:2px;
}

.columna_izquierda-usuario {
  float: left;
  /* Alineación a la izquierda */
  width: 600px;
  border: solid rgba(200, 217, 223, 0.367) 1px;
  padding: 5px;
}

/* ***************************************************************************************************** */
#container-usuario1 {
  box-shadow: 0 15px 30px 1px grey;
  background: rgba(255, 255, 255, 0.524);
  text-align: center;
  border-radius: 5px;
  overflow: hidden;
  margin: 5px auto;
  height: 300px;
  width: 300px;
  line-height: 3;
  padding: 5px 10px 5px 15px;
  background: rgb(217, 242, 239);
  background: radial-gradient(circle, rgba(217, 242, 239, 1) 0%, rgba(179, 238, 183, 1) 100%);
}

#container-usuario {
  box-shadow: 0 15px 30px 1px grey;
  background: rgba(255, 255, 255, 0.9);
  text-align: center;
  border-radius: 5px;
  overflow: hidden;
  margin: 5px auto;
  height: 300px;
  width: 550px;
  line-height: 3;
  padding: 5px 10px 5px 15px;
  color: #4CAF50;
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(173, 173, 173, 1) 100%);
}

/* table usuario */

table {
  display: block;
  line-height: normal;
}

table th {
  text-align: center;
  line-height: 1.8;
  color: #1445d7;

}

table td {
  color: rgb(0, 0, 0);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* add auto */
.columna_center{
  border-spacing: 10px 5px;
  margin-top: 50px;
  justify-content: center;
  /* Alineación a la izquierda */
  width: 900px;
  border: solid rgba(255, 255, 255, 0.367) 1px;
  padding: 50px;
  height: 700px;
  display: flex;
}
.add__auto{

  box-shadow: 0 15px 30px 1px grey;
  background: rgba(255, 255, 255, 0.9);
  text-align: center;
  border-radius: 5px;
  overflow: hidden;
  margin: 5px auto;
  height: 590px;
  width: 700px;
  line-height: 3;
  padding: 5px 10px 5px 15px;
  color: #000000;
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.591) 0%, rgba(173, 173, 173, 0.674) 100%);
}

.input{
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;

  font-size: 10px;
  margin: 2px 2px;
  cursor: pointer;
  display: block;
  margin: auto;
  background-color: #008CBA;
}
/* **************************************************************************************************** */
/* cards -- pedidos-*/

#container {
  box-shadow: 0 15px 30px 1px grey;
  background: rgba(0, 0, 0, 0.9);
  text-align: center;
  border-radius: 5px;
  overflow: hidden;
  margin: 15px auto;
  height: 400px;
  width: 400px;

  position: relative;
}


.item1 {
  grid-area: header;
}

.item2 {
  grid-area: menu;
}



#nombre__usuario {
  color: #000000;
  text-decoration: none;
  float: left;
  font-size: 1rem;
  margin: 0;
  font-weight: 800;
}

#nombre__usuario :hover {
  border-radius: 6px;
  background-color: #dfdfdfb2;
}

.marcado__off {
  text-decoration: none;
}

.icon {
  margin-top: 15px;
}
