<div class="grid-container container__dashboard">
	<div class="item2">
		<div class="navigation">
			<ul>
				<li class="navigation__tex__menu">
					<a href="#">
						<span class="icon"> </span>
						<span class="title"
							><img src="assets/img/Logo.png" alt="" style="height: 50px"
						/></span>
					</a>
				</li>
				<li class="navigation__tex__menu">
					<a href="#">
						<span class="icon"> </span>
						<span class="title">Home</span>
					</a>
				</li>
				<li class="navigation__tex__menu">
					<a href="#">
						<span class="icon"> </span>
						<span class="title">Noticias</span>
					</a>
				</li>
				<li class="navigation__tex__menu">
					<!-- <a href="/dashboard/cliente-vehiculo/{{datos.id_session}}/{{datos.usuario_nombre}}">
											
									</a> -->

					<a href="">
						<span class="icon"> </span>

						<span class="title">Menus</span>
					</a>
				</li>
				<li class="navigation__tex__menu">
					<!-- <a href="/dashboard/empleado/{{datos.id_session}}/{{datos.usuario_nombre}}">
											<span class="icon">
													<ion-icon name="storefront-outline"></ion-icon>
											</span>
											<span class="title">Panel de mecánicos</span>
									</a> -->
					<a href="#">
						<span class="icon"> </span>
						<span class="title">Institución</span>
					</a>
				</li>
				<li class="navigation__tex__menu">
					<!-- <a href="/dashboard/perfil-usuario/{{datos.id_session}}/{{datos.usuario_nombre}}">
											<span class="icon">
													<ion-icon name="settings-outline"></ion-icon>
											</span>
											<span class="title">Configuración</span>
									</a> -->
					<a href="#">
						<span class="icon"> </span>
						<span class="title">Carreras</span>
					</a>
				</li>
				<li class="navigation__tex__menu">
					<!-- <a href="/logout/{{datos.id_session}}">
											<span class="icon">
													<ion-icon name="log-out-outline"></ion-icon>
											</span>
											<span class="title">Cerrar Sesión</span>
									</a> -->
					<a href="#">
						<span class="icon"> </span>
						<span class="title">Galeria</span>
					</a>
				</li>
				<li class="navigation__tex__menu">
					<a href="#">
						<span class="icon">
							<!-- <ion-icon name="log-out-outline"></ion-icon> -->
						</span>
						<span class="title">Cerrar Sesión</span>
					</a>
				</li>
			</ul>
		</div>
	</div>

	<div class="main">
		<div class="topbar">
			<div class="toggle"></div>
			<div class="item1">
				
			</div>
		</div>

		<div class="cuerpo-inf">
			<h2 >
				Bienvenido
			
			</h2>
			<div class="">
				<div class="overflow-x-auto w-full">
					<table class="table w-full" aria-describedby="mydescripcion">
						<!-- head -->
						<thead>
							<tr >
								<th>
									<label>
										<input type="checkbox" class="checkbox" />
									</label>
								</th>
								<th scope="col">Name</th>
								<th scope="col">Job</th>
								<th scope="col">Favorite Color</th>
								<th scope="col"></th>
							</tr>
						</thead>
						<tbody>
							<!-- row 1 -->
							<tr>
								<th scope="col">
									<label>
										<input type="checkbox" class="checkbox" />
									</label>
								</th>
								<td>
									<div class="flex items-center space-x-3">
										<div class="avatar">
											<div class="mask mask-squircle w-12 h-12">
												<img src="/tailwind-css-component-profile-2@56w.png" alt="Avatar Tailwind CSS Component" />
											</div>
										</div>
										<div>
											<div class="font-bold">Hart Hagerty</div>
											<div class="text-sm opacity-50">United States</div>
										</div>
									</div>
								</td>
								<td>
									Zemlak, Daniel and Leannon
									<br>
									<span class="badge badge-ghost badge-sm">Desktop Support Technician</span>
								</td>
								<td>Purple</td>
								<th scope="col">
									<button class="btn btn-ghost btn-xs">details</button>
								</th>
							</tr>
							<!-- row 2 -->
							<tr>
								<th scope="col">
									<label>
										<input type="checkbox" class="checkbox" />
									</label>
								</th>
								<td>
									<div class="flex items-center space-x-3">
										<div class="avatar">
											<div class="mask mask-squircle w-12 h-12">
												<img src="/tailwind-css-component-profile-3@56w.png" alt="Avatar Tailwind CSS Component" />
											</div>
										</div>
										<div>
											<div class="font-bold">Brice Swyre</div>
											<div class="text-sm opacity-50">China</div>
										</div>
									</div>
								</td>
								<td>
									Carroll Group
									<br>
									<span class="badge badge-ghost badge-sm">Tax Accountant</span>
								</td>
								<td>Red</td>
								<th scope="col">
									<button class="btn btn-ghost btn-xs">details</button>
								</th>
							</tr>
							<!-- row 3 -->
							<tr>
								<th scope="col">
									<label>
										<input type="checkbox" class="checkbox" />
									</label>
								</th>
								<td>
									<div class="flex items-center space-x-3">
										<div class="avatar">
											<div class="mask mask-squircle w-12 h-12">
												<img src="/tailwind-css-component-profile-4@56w.png" alt="Avatar Tailwind CSS Component" />
											</div>
										</div>
										<div>
											<div class="font-bold">Marjy Ferencz</div>
											<div class="text-sm opacity-50">Russia</div>
										</div>
									</div>
								</td>
								<td>
									Rowe-Schoen
									<br>
									<span class="badge badge-ghost badge-sm">Office Assistant I</span>
								</td>
								<td>Crimson</td>
								<th scope="col">
									<button class="btn btn-ghost btn-xs">details</button>
								</th>
							</tr>
							<!-- row 4 -->
							<tr>
								<th scope="col">
									<label>
										<input type="checkbox" class="checkbox" />
									</label>
								</th>
								<td>
									<div class="flex items-center space-x-3">
										<div class="avatar">
											<div class="mask mask-squircle w-12 h-12">
												<img src="/tailwind-css-component-profile-5@56w.png" alt="Avatar Tailwind CSS Component" />
											</div>
										</div>
										<div>
											<div class="font-bold">Yancy Tear</div>
											<div class="text-sm opacity-50">Brazil</div>
										</div>
									</div>
								</td>
								<td>
									Wyman-Ledner
									<br>
									<span class="badge badge-ghost badge-sm">Community Outreach Specialist</span>
								</td>
								<td>Indigo</td>
								<th scope="col">
									<button class="btn btn-ghost btn-xs">details</button>
								</th>
							</tr>
						</tbody>
						<!-- foot -->
						<tfoot>
							<tr>
								<th scope="col"></th>
								<th scope="col">Name</th>
								<th scope="col">Job</th>
								<th scope="col">Favorite Color</th>
								<th scope="col"></th>
							</tr>
						</tfoot>
						
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
